* {
    font-family: monospace, sans-serif;
}

body {

    width: 100%;
    
}
td {
    border: 2px solid black;
    min-width: 110px;
    background-color: beige;
    
   
}

thead td {
    border: 2px solid black;
    background-color: tan;
    font-weight: 700;
    text-align: center;
}

table {
    box-sizing: border-box;
    width: 900px;
    margin: auto;
    padding: 0px 120px 0px 120px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
}

