* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0pg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1 {
    text-align: center;
}

h2 {
     text-align: center;
     margin-bottom: 10px;
}

section {
    margin: 10px 0px;
    border: 2px dashed black;
    padding: 20px 50px;
    width: 60%;
    margin: 15px auto;
    
}

  .colors {
    display: flex;
    justify-content: center;
    gap: 15px;
    
    
}

.colors > * {
    width: 200px;
    height: 165px;
    text-align: center;
    padding: 60px 0;
    box-shadow: 1px 4px;  
}

.colors > *:hover {
    font-size: large;
}

.floralwhite {
    background-color: #fbfbf2;
    border: 1px solid black;
}

.platinum {
    background-color: #e5e6e4;
    border: 1px solid black;
}

.lightgray {
    background-color: #cfd2cd;
    border: 1px solid black;
}

.quicksilver {
    background-color: #a6a2a2;
    border: 1px solid black;
}

.fonts {
    display: flex;
    justify-content:center ;
    gap: 20px;
}

.montserrat p {
    font-family: 'Montserrat', monospace;
}

.montserrat .bold {
    font-weight: bold;
}

.montserrat .italic {
    font-style: italic;
}

.couriernew p {
    font-family: 'Courier New', Courier, monospace;
}

.couriernew .bold {
    font-weight: bold;
}

.couriernew .italic {
    font-style: italic;
}